<!--?xml version="1.0" encoding="UTF-8"? -->
 <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 指定数据库连接信息的位置 -->
	<properties resource="db.properties"></properties>
	<!-- 为了避免一直编写包全名，定义别名以方便引用Admin类，Admin类可查看代码 -->
	<typeAliases>
		<typeAlias type="cn.com.learn.mybatisDemo.vo.UserInfo"
			alias="userInfo" />
	</typeAliases>
	<!-- 定义数据库环境，且默认使用development环境 -->
	<environments default="development">
		<!-- 定义id为development的数据库环境 -->
		<environment id="development">
			<!-- 采用jdbc事务管理 -->
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
			
			<!--<property name="poolMaximumActiveConnections" value="50"/>
				 poolMaximumActiveConnections – 在任意时间可以存在的活动（也就是正在使用）连接数量，默认值：10
poolMaximumIdleConnections – 任意时间可能存在的空闲连接数。
poolMaximumCheckoutTime – 在被强制返回之前，池中连接被检出（checked out）时间，默认值：20000 毫秒（即 20 秒）
poolTimeToWait – 这是一个底层设置，如果获取连接花费了相当长的时间，连接池会打印状态日志并重新尝试获取一个连接（避免在误配置的情况下一直安静的失败），默认值：20000 毫秒（即 20 秒）。
poolMaximumLocalBadConnectionTolerance – 这是一个关于坏连接容忍度的底层设置， 作用于每一个尝试从缓存池获取连接的线程. 如果这个线程获取到的是一个坏的连接，那么这个数据源允许这个线程尝试重新获取一个新的连接，但是这个重新尝试的次数不应该超过 poolMaximumIdleConnections 与 poolMaximumLocalBadConnectionTolerance 之和。 默认值：3 (新增于 3.4.5)
poolPingQuery – 发送到数据库的侦测查询，用来检验连接是否正常工作并准备接受请求。默认是“NO PING QUERY SET”，这会导致多数数据库驱动失败时带有一个恰当的错误消息。
poolPingEnabled – 是否启用侦测查询。若开启，需要设置 poolPingQuery 属性为一个可执行的 SQL 语句（最好是一个速度非常快的 SQL 语句），默认值：false。
poolPingConnectionsNotUsedFor – 配置 poolPingQuery 的频率。可以被设置为和数据库连接超时时间一样，来避免不必要的侦测，默认值：0（即所有连接每一时刻都被侦测 — 当然仅当 poolPingEnabled 为 true 时适用）。 -->
		</environment>
	</environments>
	<!-- 定义映射器 -->
	<mappers>
		<!-- 引入AdminMapper映射器配置文件 -->
		<mapper resource="cn/com/learn/mybatisDemo/mapper/*.xml" />
	</mappers>
</configuration>