/Maven__ch_qos_logback_logback_classic_1_2_2.xml
/Maven__ch_qos_logback_logback_core_1_1_11.xml
/Maven__com_auth0_java_jwt_3_4_0.xml
/Maven__com_fasterxml_classmate_1_3_3.xml
/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_8_9.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_9.xml
/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/Maven__com_google_errorprone_error_prone_annotations_2_2_0.xml
/Maven__com_google_guava_failureaccess_1_0.xml
/Maven__com_google_guava_guava_27_0_jre.xml
/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/Maven__commons_codec_commons_codec_1_10.xml
/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Maven__junit_junit_3_8_1.xml
/Maven__mysql_mysql_connector_java_5_1_43.xml
/Maven__nz_net_ultraq_thymeleaf_thymeleaf_layout_dialect_1_4_0.xml
/Maven__ognl_ognl_3_0_8.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_16.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_16.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_16.xml
/Maven__org_apache_tomcat_tomcat_jdbc_8_5_16.xml
/Maven__org_apache_tomcat_tomcat_juli_8_5_16.xml
/Maven__org_aspectj_aspectjweaver_1_8_10.xml
/Maven__org_checkerframework_checker_qual_2_5_2.xml
/Maven__org_codehaus_groovy_groovy_2_4_12.xml
/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
/Maven__org_hibernate_hibernate_validator_5_3_5_Final.xml
/Maven__org_javassist_javassist_3_21_0_GA.xml
/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
/Maven__org_mybatis_generator_mybatis_generator_core_1_3_2.xml
/Maven__org_mybatis_mybatis_3_4_4.xml
/Maven__org_mybatis_mybatis_spring_1_3_1.xml
/Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_1_3_0.xml
/Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_1_3_0.xml
/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
/Maven__org_slf4j_log4j_over_slf4j_1_7_25.xml
/Maven__org_slf4j_slf4j_api_1_7_25.xml
/Maven__org_springframework_boot_spring_boot_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_aop_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_6_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_web_1_5_6_RELEASE.xml
/Maven__org_springframework_data_spring_data_commons_1_13_8_RELEASE.xml
/Maven__org_springframework_spring_aop_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_beans_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_context_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_core_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_expression_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_jdbc_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_tx_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_web_4_3_10_RELEASE.xml
/Maven__org_springframework_spring_webmvc_4_3_10_RELEASE.xml
/Maven__org_thymeleaf_thymeleaf_2_1_5_RELEASE.xml
/Maven__org_thymeleaf_thymeleaf_spring4_2_1_5_RELEASE.xml
/Maven__org_unbescape_unbescape_1_1_0_RELEASE.xml
/Maven__org_yaml_snakeyaml_1_17.xml
